[project]
	description = Great Teeming Workspaces is a git workspace management package in bash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Gryniewicz (dang)
[access "refs/for/refs/*"]
	read = group user/Daniel Gryniewicz (dang)
	push = group user/Daniel Gryniewicz (dang)
	label-Code-Review = -2..+2 group user/Daniel Gryniewicz (dang)
	label-Verified = -1..+1 group user/Daniel Gryniewicz (dang)
	rebase = group user/Daniel Gryniewicz (dang)
	removeReviewer = group user/Daniel Gryniewicz (dang)
	submit = group user/Daniel Gryniewicz (dang)
[access "refs/heads/*"]
	read = group user/Daniel Gryniewicz (dang)
	create = group user/Daniel Gryniewicz (dang)
	push = +force group user/Daniel Gryniewicz (dang)
	pushMerge = group user/Daniel Gryniewicz (dang)
[access "refs/tags/*"]
	push = +force group user/Daniel Gryniewicz (dang)
	pushTag = group user/Daniel Gryniewicz (dang)
	pushSignedTag = group user/Daniel Gryniewicz (dang)
